* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --text-color-dark-mode: rgb(255, 255, 255);
  --text-color-light-mode: rgb(0, 0, 0);

  --stroke-color-dark-mode: rgba(255, 255, 255, 0.5);
  --stroke-color-light-mode: rgba(0, 0, 0, 0.5);

  --surface-color-dark-mode: rgba(255, 255, 255, 0.1);
  --surface-color-dark-mode-hover: rgba(255, 255, 255, 0.05);
  --surface-color-light-mode: rgba(0, 0, 0, 0.05);
  --surface-color-light-mode-hover: rgba(0, 0, 0, 0.02);

  --highlight-color-dark-mode: rgba(255, 255, 255, 0.2);
  --highlight-color-light-mode: rgba(0, 0, 0, 0.1);
}

body,
html {
  min-width: 36rem;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(./assets/bg-mobile-light.jpg);
  background-size: cover;

  transition: background 1s;
}

body.dark {
  background-image: url(./assets/bg-mobile-dark.jpg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 11.2rem;
  border-radius: 50%;
  margin-bottom: 0.8rem;
  border: solid 2px var(--stroke-color-light-mode);
}

body.dark header img {
  border: solid 2px var(--stroke-color-dark-mode);
}

#git-login {
  margin-bottom: 2.4rem;
}

#git-login a {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
  color: var(--text-color-light-mode);
}

body.dark #git-login a {
  color: var(--text-color-dark-mode);
}

.switch {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
}

.switch #light-dark {
  background-color: #ffffff;
  width: 3.2rem;
  height: 3.2rem;
  box-shadow: 0px 2px 8px var(--highlight-color-light-mode);
  border-radius: 50%;

  background-image: url(./assets/light.svg);
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  left: -1.6rem;

  transition: all 0.5s;
}

/*.switch #light-dark:hover,
body.dark .switch #light-dark:hover {
  border: 8px solid var(--highlight-color-light-mode);
}*/

body.dark .switch #light-dark {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.025);
  background-image: url(./assets/dark.svg);
  left: 1.6rem;
}

/*body.dark .switch #light-dark:hover {
  border: 8px solid var(--highlight-color-dark-mode);
  box-shadow: 0px 2px 8px var(--highlight-color-light-mode);
}*/

.switch #track {
  position: absolute;
  z-index: -1;
  left: calc(50vw - 3.2rem);
}

header .switch #track rect {
  fill: var(--surface-color-light-mode);
  stroke: var(--stroke-color-light-mode);
}

body.dark header .switch #track rect {
  fill: var(--surface-color-dark-mode);
  stroke: var(--stroke-color-dark-mode);
}

main {
  padding: 4rem;
}
